*,::before,::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Mise en place page accueil */
html {
    scroll-behavior: smooth;
}

.body {
    font-size: 15px;
    background-color: #000000;
    overflow-x: hidden;
}
h1 {
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
    padding: 12px;
}
.banner{
    background: linear-gradient(-45deg, #000000, #191919, #3e3e3e, #040404);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    display: flex;
    justify-content: center;
    height: 100vh;
    color: white;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.banner_inner{
    background-color: rgb(0, 0, 0, 0%);
    width: 60%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.banner_col_1, .banner_col_2{
    margin: 50px 0;
    text-align: center;
    flex-shrink: 0;
}

.banner_col_1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(0, 0, 0, 0%);
    flex: 1 0 50%;
}

.banner_col_2{
    background-color: rgb(0, 0, 0, 0%);
    flex: 1 0 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.yael{
    height: 56%;
    width: 100%;
    background: rgba(187, 187, 187, 0.10);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
}

.yael img {
    border-radius: 50%;
    border: solid 1px yellow;
    padding: 10px;
    width: 150px;
}

.services{
    height: 40%;
    width: 100%;
    background: rgba(187, 187, 187, 0.10);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
}

.services p {
    padding-bottom: 20px;
}

.services h2 {
    padding-bottom: 22px;
}

.competences{
    height: 80%;
    width: 80%;
    background: rgba(187, 187, 187, 0.10);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
}

.competences p {
    padding: 35px;
}

.competences img {
    width: 20%;
    min-width: 40px;
}

.card {
    padding: 30px;
}

.card div {
    padding: 20px;
}







/* Création des boutons */

.btn {
    width: 130px;
    height: 40px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border: none;
    padding: 10px 25px;
    font-weight: 800;
    background: #fff800;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
                    7px 7px 20px 0px rgba(0,0,0,.1),
                    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.btn:before,
.btn:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background: #fff800;
    transition: all 0.3s ease;
}

.btn:before {
    height: 0%;
    width: 2px;
}
.btn:after {
    width: 0%;
    height: 2px;
}
.btn:hover{
    background: transparent;
    box-shadow: none;
    color: #fff;
}

.btn:hover:before {
    height: 100%;
}
.btn:hover:after {
    width: 100%;
}

.boutons {
    width: 80%;
    display: flex;
    justify-content: space-evenly; 
}

.boutons button {
    margin: 15px;
}









/* Animation  */

.card {
    animation: bounce2 1s cubic-bezier(.5,0.05,1,.5);
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes bounce2 {
    from { transform: translate3d(0, 0, 0);     }
    to   { transform: translate3d(0, 10px, 0); }
}

.card:hover {
    animation: none;
}



/* SLIDER */
.portfolio {
    background-color: #191919;
    padding-top: 5%;
    padding-bottom: 5%;
}
.container {
    position: relative;
    white-space: nowrap;
    scroll-behavior: smooth;
    overflow: hidden;
}

.container img {
    width: 20%;
    z-index: 1;
    
}

.container img:hover {
    transform: scale(1.2);
    transition: 0.2s;
    cursor: pointer;
}

.scrollLeft {
    left: 0px;
}
.scrollLeft img{
    width: 20px;
}
.scrollRight {
    right: 0px;
}
.scrollRight img {
    width: 20px;
}

.scrollLeft, .scrollRight {
    border: none;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #040404;
    opacity: 0.5;
}
.scrollLeft:hover, .scrollRight:hover {
    transform: scale(1.2);
    transition: 0.2s;
    background-color: #3e3e3e;
}

.arrows {
    display: flex;
    justify-content: space-between;
}


.apercu {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}
.apercu img {
    width : 45%;
}




/* Header  */

.header {
    background: #191919;
    position: relative;
    padding: 1vw;
    min-height: 90vh;
}
.header h1, .header h2 {
    position: absolute;
    left: 10%;
    top: 5%;
}

.header h1 {
    font-size: 6rem;
}

.header h2 {
    font-size: 4rem;
    top: 10%;
    left: 20%;
    margin-top: 10vw;
}

.fo-mask {
    display: inline-block;
    overflow: hidden;
    clear: both;
}

.fo-mask span {
    color: transparent;
    -webkit-animation: show 0s forwards 0.4s;
    animation: show 0s forwards 0.4s;
}

.fo-mask:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff800;
    transform: translate3d(110%, 0, 0);
    animation: masque 1s cubic-bezier(.17,.67,.83,.67);
}

.background {
    display: flex;
    justify-content: flex-end;
    opacity: 0.5;
    z-index: 1;
}


@keyframes show {
    0% {
    color: transparent;
    }
    100% {
    color: white;
    }
}

@keyframes masque {
    0% {
    transform: translate3d(-100%, 0, 0);
    }
    100% {
    transform: translate3d(110%, 0, 0);
    }
}
.delay-200.fo-mask span {
    animation-delay: 0.6s;
}

.delay-200.fo-mask:after {
    animation-delay: 0.2s;
}

/* Contact */

.contacts {
    height: 40vh;
    background-color: #3e3e3e ;
}

.contact_container {
    display: flex;
    justify-content: center;
    align-items: center ;
height: 25vh;
}

.contact_container a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_icon {
    width: 30%;
}

.contact_icon:hover {
    transform: rotate(17deg);
    transition: 0.5s;
}

.footer p {
    text-align: center;
    font-size: 0.75rem;
    font-weight: 400;
}