*,::before,::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Mise en place page accueil */

.header{
    background-color: rgb(0, 0, 0);
    height: 80px;
}
.body {
    font-size: 15px;
    background-color: #000000;
}
.banner{
    background: linear-gradient(-45deg, #000000, #191919, #3e3e3e, #040404);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    display: flex;
    justify-content: center;
    height: 90vh;
    color: white;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.banner_inner{
    background-color: rgb(0, 0, 0, 0%);
    width: 60%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.banner_col_1, .banner_col_2{
    margin: 50px 0;
    text-align: center;
    flex-shrink: 0;
}

.banner_col_1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(0, 0, 0, 0%);
    flex: 1 0 50%;
}

.banner_col_2{
    background-color: rgb(0, 0, 0, 0%);
    flex: 1 0 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.yael{
    height: 56%;
    width: 100%;
    background: rgba(187, 187, 187, 0.10);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
}

.yael img {
    border-radius: 50%;
    border: solid 1px yellow;
    padding: 10px;
}

.services{
    height: 40%;
    width: 100%;
    background: rgba(187, 187, 187, 0.10);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
}

.services p {
    padding-bottom: 20px;
}

.services h2 {
    padding-bottom: 22px;
}

.competences{
    height: 80%;
    width: 80%;
    background: rgba(187, 187, 187, 0.10);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
}

.competences p {
    padding: 35px;
}

.competences img {
    width: 20%;
    min-width: 40px;
}

.card {
    padding: 30px;
}

.card div {
    padding: 20px;
}









/* Création des boutons */

.btn {
    width: 130px;
    height: 40px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border: none;
    padding: 10px 25px;
    font-weight: 800;
    background: #fff800;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
                    7px 7px 20px 0px rgba(0,0,0,.1),
                    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.btn:before,
.btn:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background: #fff800;
    transition: all 0.3s ease;
}

.btn:before {
    height: 0%;
    width: 2px;
}
.btn:after {
    width: 0%;
    height: 2px;
}
.btn:hover{
    background: transparent;
    box-shadow: none;
    color: #fff;
}

.btn:hover:before {
    height: 100%;
}
.btn:hover:after {
    width: 100%;
}

.boutons {
    width: 80%;
    display: flex;
    justify-content: space-evenly; 
}

.boutons button {
    margin: 15px;
}









/* Animation  */

.card {
    animation: bounce2 1s cubic-bezier(.5,0.05,1,.5);
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes bounce2 {
    from { transform: translate3d(0, 0, 0);     }
    to   { transform: translate3d(0, 10px, 0); }
}

.card:hover {
    animation: none;
}

/* Responsive */
@media (max-width:1200px) {
    .banner {
        height: 100%;
    }
}

@media (max-width:900px) {

.banner {
    height: 100%;
    width: 100%;
}

.banner_col_1, .banner_col_2 {
    width: 100%;
    flex: shrink 0;
    flex-basis: 100%;
}



}

@media (max-width:700px) {
    .card {
        animation: none;
    }

    body {
        font-size: 0.75rem;
    }

    .boutons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .boutons button {
        width: 60%;
    }
    
}


/* SlIDER  */

/* .carousel {
    height: 250px;
    width: 80%;
    position: relative;
} */